<%= turbo_frame_tag "contact_form" do %>
  <div class="content-container contact" id="contact">
    <div class="contact">
      <div class="content-header contact-text">
        <h2><span class="gradient-underline">Contact Me!</span></h2>
        <p>Looking for a passionate, hard working full stack developer? Interested in how our work could be mutually beneficial?</p>
        <p>Let's connect!</p>
      </div>

      <p>YAAAH!</p>
      
    </div>
  </div>
<% end %>